@font-face {
  /* https://www.fontspace.com/segment7-font-f19825 */
  font-family: "Segment";
  src: url("../fonts/Segment7Standard.eot");
  src: url("../fonts/Segment7Standard.woff2") format("embedded-opentype"), url("../fonts/Segment7Standard.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  user-select: none;
}

body {
  background-color: lightslategray;
  font-size: 1em;
}

main,
header {
  margin: 0 auto;
  width: 900px;
}

#calculator-body {
  margin: 0 auto;
  padding: 1em;
  border-radius: 0.5em;
  width: 250px;
  background-color: hsl(87, 76%, 59%);
  border-bottom: 4px solid hsl(87, 52%, 39%);
  border-left: 2px solid hsl(87, 100%, 66%);
  border-right: 2px solid hsl(87, 100%, 66%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

#misc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

#misc > div:nth-child(2) {
  background-color: hsl(0, 59.4%, 24.6%);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  width: 6em;
  padding: 0.3em;
  border-radius: 2px;
}

#misc > div:nth-child(2) > span {
  visibility: hidden;
}

#display-window {
  position: relative;
  font-family: "Segment", monospace;
  color: rgba(0, 0, 0, 0.05);
  text-align: right;
  font-size: 250%;
  padding: 5px 4px 0 0;
  border-radius: 4px;
  background-color: hsl(0, 0%, 75.3%);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 1);
  border-top: 2px solid hsl(87, 52%, 39%);
  border-left: 3px solid hsl(87, 100%, 66%);
  border-right: 3px solid hsl(87, 100%, 66%);
}

#numbers {
  position: absolute;
  top: 5px;
  right: 4px;
  color: black;
}

#buttons {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em 0.75em;
  grid-template-areas:
    "clear clear modulo divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero point equals add";
}

.calc-button {
  display: inline-block;
  background-color: hsl(87, 76%, 59%);
  text-transform: uppercase;
  padding: 0.5em 0;
  font-size: 125%;
  border-radius: 4px;
}

.btn-enabled {
  cursor: pointer;
  border: 2px solid hsl(87, 58%, 53%);
  border-right-color: hsl(87, 100%, 66%);
  border-left-color: hsl(87, 100%, 66%);
  color: whitesmoke;
  text-shadow: 1px 1px 0 hsl(88, 52%, 39%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 1px rgba(0, 0, 0, 1);
}

.btn-disabled {
  border-width: 0;
  box-shadow: none;
  text-shadow: none;
  cursor: not-allowed;
  color: hsl(88, 52%, 39%);
}

.btn-one {
  grid-area: one;
}

.btn-two {
  grid-area: two;
}

.btn-three {
  grid-area: three;
}

.btn-four {
  grid-area: four;
}

.btn-five {
  grid-area: five;
}

.btn-six {
  grid-area: six;
}

.btn-seven {
  grid-area: seven;
}

.btn-eight {
  grid-area: eight;
}

.btn-nine {
  grid-area: nine;
}

.btn-zero {
  grid-area: zero;
}

.btn-point {
  grid-area: point;
}

.btn-equals {
  grid-area: equals;
}

.btn-add {
  grid-area: add;
}

.btn-subtract {
  grid-area: subtract;
}

.btn-divide {
  grid-area: divide;
}

.btn-multiply {
  grid-area: multiply;
}

.btn-modulo {
  grid-area: modulo;
}

.btn-clear {
  grid-area: clear;
}
